<div class="white-bg" style="padding: 30px;">
    <div class="register_layout" id="other">
      <div class="text-left">   
          <h2 class="title text-center text-uppercase">Eligibility criteria
           <span class="lnr lnr-chevron-right"></span> 
         </h2>
        <p style="line-height: 1.8; font-weight: 600"></p><hr>
          <ol class="" style="line-height: 1.6;">
              <li>Do  you have a registered company operating in Africa.</li>
              <li>Are  you seeking to raise above $25,000 of capital (debt or equity) within the next 6 to 12 months.</li>
              <li>Are you an experienced entrepreneur and a strong management team with relevant expertise.</li>
              <li>Can you demonstrate strong economic, social and/or environmental impact through the business model success</li>
              <li>Do you have a prototype and/or proven concept and can demonstrate traction</li>
              <li>Are  you generating revenues underpinned by contracts or established relationships</li>
              <li>Do you offer a scalable market opportunity and a source of sustainable competitive advantage</li>
              <li>Can you provide a robust business plan with a set of credible financial projections.</li>
              <li>Are you coming from a Member State of Smart Africa? <a target="_blank" href="http://smartafrica.org/?-Members-"><b>See member states here.</b></a></li>
          </ol>
          
          
          <p style="line-height: 1.8; font-weight: 600">Please do not apply if you are:</p><hr>
          
          <ol class="" style="line-height: 1.6;">
              <li>A local authority, sole trader or unincorporated entity</li>
              <li>Looking to raise investment to purely fund research and development or proof of concept activities</li>
              <li>Looking for purely grant funding.</li>
          </ol>
          
        
          <hr class="hr-blue">
          <br>
           <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <a href="<?=DN?>/register/ftg" class="btn btn-primary pull-right" >Apply now</a>
          <br>
      </div>
    </div>
</div>