<div class="white-bg" style="padding: 30px;">
    <div class="register_layout" id="other">
      <div class="text-left">   
          <h2 class="title text-center text-uppercase">Eligibility criteria
            <span class="lnr lnr-chevron-right"></span> 
          </h2>
          <p style="line-height: 1.8; font-weight: 600"></p><hr>
          <ol class="" style="line-height: 1.6;">
              <li>Female between ages of 13 and 25 years’ old.</li>
              <li>Be a citizen of any of the Smart Africa member states: Rwanda, Kenya, Uganda, Angola, Burkina Faso, Cote d’ivoire, Chad, Gabon, Mali, Senegal, South Sudan, Benin, Djibouti, Egypt, Guinea, Niger, Togo.</li>
              <li>Contestants must be available between 5th – 12th May 2017.</li>
              <li>Contestants must be in Rwanda to attend Ms. Geek training and Transform Africa.</li>
          </ol>

          <h2 class="title text-center text-uppercase">SELECTION CRITERIA
            <span class="lnr lnr-chevron-right"></span> 
          </h2>
          <p style="line-height: 1.8; font-weight: 600"></p><hr>
          <ol class="" style="line-height: 1.6;">
              <li>The document must describe the solution in detail, including the conceptual design, what technologies should be used to develop it, the role of various users, how content will be generated, and ultimately how knowledge is transferred.</li>
              <li>The technology solution must be original, but may partially include the integration of existing technologies.</li>
              <li>Please consider that your users will have varying Internet access in terms of how frequently they can use it and which devices they will use (laptop, tablet, mobile phone).</li>
              <li>1.  A graphical presentation must accompany the concept note, demonstrating how the solution will work and an example of the user interface.</li>
          </ol>
          
          
        
          <hr class="hr-blue">
          <br>
           <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <a href="<?=DN?>/register/msgeek" class="btn btn-primary pull-right" >Apply now</a>
          <br>
      </div>
    </div>
</div>