<div class="white-bg" style="padding: 30px;">
    <div class="register_layout" id="other">
      <div class="text-left">   
          <h2 class="title text-center text-uppercase">Photograph requirements
           <span class="lnr lnr-chevron-right"></span> 
         </h2>
        <p style="line-height: 1.8; font-weight: 600">
             <img src="<?=DN?>/img/photo_specs.jpg" class="img img-responsive">
          </p><hr>
          
       <hr class="hr-blue">
          <br>
            <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Close</button>
          <br>
      </div>
    </div>
</div>